./astralsorcery
./changelogs
./journeymap
./logs
./resourcepacks
./saves
./server-resource-packs
./snapshots-server
./valkyrielib
./woot
./.ReAuth.cfg
./BotaniaVars.dat
./crafttweaker.log
./knownkeys.txt
./perms.txt
./usercache.json
./usernamecache.json

./config/thaumicjei_itemstack_aspects.json 