/astralsorcery
/cache
/changelogs
/crash-reports
/journeymap
/llibrary
/logs
/resourcepacks
/saves
/screenshots
/server-resource-packs
/snapshots-server
/valkyrielib
/woot

/.ReAuth.cfg
/BotaniaVars.dat
/crafttweaker.log
/knownkeys.txt
/mtservers.dat
/options.txt
/perms.txt
/pregenData.json
/servers.dat
/usercache.json
/usernamecache.json

#Server Files

/backups
/libraries
/world

/*.sh
/*.bat

/FTBserver-1.12.2-14.23.5.2836-universal.jar
/minecraft_server.1.12.2.jar

/banned-players.json
/banned-ips.json
/eula.txt
/ops.json
/server-icon.png
/server.properties
/version.json
/whitelist.json

/.mixin.out